<!doctype html>
<html lang="en" ng-app="Monapp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
</head>
<body>
<input type="text" ng-model="query"/>
<select ng-model="order">
<option value="-username">nom</option>
<option value="+content">contenu</option>
</select>
<div ng-controller="monSuperController" >
<div ng-repeat="user in comments | filter :{username:query} | orderBy:order">
<p>
<strong>{{user.username | lowercase}}</strong><br>{{user.content | uppercase}} </p>
</div>
<div ui-date="dateOptions" name="DateOfBirth"></div>
</div>

</body>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.2.14/angular-animate.min.js"></script>
  <script>
var app = angular.module('Monapp', ['ngAnimate'])
app.controller('monSuperController', function ($scope){
	$scope.comments= [
{username : 'Amine',
content : 'aj'
},
{username : 'yahya',
content : 'b'
}
];
});
  </script>
</html>